.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 10px;
    height: auto;
    border: 1px solid #444;
    background-color: rgb(166, 166, 250);
}
h1{
 display: flex;
}
